### venv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/dataSources.xml
/.idea/dbnavigator.xml
/.idea/discord.xml
/.idea/ImageSortAttempt.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/mongodb-settings-v1.xml
/.idea/sqlDataSources.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/webResources.xml
/Faces/a9c099d9-7e59-4293-80f5-7816d5a800d5.jpg
/Faces/f730f3de-a9a5-4f9c-aae8-6abc158b5ef6.jpg
/Unsorted/Sorted/0L6A7008.jpg
/Unsorted/Sorted/0L6A7238.jpg
/Unsorted/Sorted/0L6A7337.jpg
/Unsorted/Sorted/6CFC8071-2DB4-414E-9C5D-53816ABF5537.jpeg
/Unsorted/Sorted/882D2AC6-A03B-4F79-91C8-6DDA50F2549F.jpeg
/Unsorted/Sorted/892D7E62-2436-4AEC-8230-E7205BDEF689.png
/Unsorted/Sorted/1000_F_557115686_I0z6G2YD5cZa0vF2YvwloYY2UQc4iyrn.jpg
/Unsorted/Sorted/9147E8D5-AC14-4894-814A-8296A66AB853.jpeg
/Unsorted/Sorted/277394_4663295546945_1580963179_o.jpg
/Unsorted/Sorted/1146415_10201814676755183_924745886_o.jpg
/Unsorted/Sorted/1781901_10206074439246583_4301015240330626446_n.jpg
/Unsorted/Sorted/11692805_10207154693332260_7699921918307125577_n.jpg
/Unsorted/Sorted/11701158_10207154693612267_2841101830751725330_n.jpg
/Unsorted/Sorted/20210801_002842.jpg
/Unsorted/Sorted/20210801_002844.jpg
/Unsorted/Sorted/20221212_220427.jpg
/Unsorted/Sorted/20221212_220430.jpg
/Unsorted/Sorted/20221212_220501.jpg
/Unsorted/Sorted/104556677_10223603029010372_716889488295076939_n.jpg
/Unsorted/Sorted/120083278_10224504324982208_6218601164842652337_n.jpg
/Unsorted/Sorted/189351505_10226423282234940_5018656004922939238_n.jpg
/Unsorted/Sorted/332211053_721551482682403_2824883832683058147_n.jpg
/Unsorted/Sorted/ADBE1CDA-DAB3-4278-A1E6-F676F76AF044.jpeg
/Unsorted/Sorted/BC387E9F-0D67-4978-84B3-865A8001DAE0.jpeg
/Unsorted/Sorted/CJ4I2462.jpg
/Unsorted/Sorted/CJ4I2474.jpg
/Unsorted/Sorted/CJ4I2584.jpg
/Unsorted/Sorted/CJ4I2584-2.jpg
/Unsorted/Sorted/CJ4I2588.jpg
/Unsorted/Sorted/D42A86D7-4731-4F94-81EC-3ADDFCE4ED12.png
/Unsorted/Sorted/Dope_add_laser_eyes_57d2971b-748a-41ca-8cab-052f3c0b2137.png
/Unsorted/Sorted/Dope_as_a_demoness_5c04bbb3-0a77-47b8-8a99-c43c71a9a352.png
/Unsorted/Sorted/Dope_is_a_demon_a2d46dca-9f47-44d1-a4f4-db9495c8080c.png
/Unsorted/Sorted/Dope_None_2771df39-bb35-41fa-ae70-c448e9636392.png
/Unsorted/Sorted/Dope_None_b5f40dfc-7206-460d-a66f-72f3c81eff47.png
/Unsorted/Sorted/Dope_None_e0e09ae5-5ed2-42f2-bc0a-fe47e3d46cfa.png
/Unsorted/Sorted/Dope_None_fae37e2b-0591-45ea-88a2-04d38b7450d0.png
/Unsorted/Sorted/Dope_turned_into_a_female_demon_98b9a1f8-1990-4f2e-bf0d-2d9bd102f125.png
/Unsorted/Sorted/GABY-16.jpg
/Unsorted/Sorted/GABY-17.jpg
/Unsorted/Sorted/GABY-22.jpg
/Unsorted/Sorted/GABY-24.jpg
/Unsorted/Sorted/GABY-46.jpg
/Unsorted/Sorted/GABY_NOV-9.jpg
/Unsorted/Sorted/GabyPaul35mmScans063.jpg
/Unsorted/Sorted/GabyPaul35mmScans069.jpg
/Unsorted/Sorted/IMG_1081.JPG
/Unsorted/Sorted/Screenshot_20190626-135938_Instagram.jpg
/Unsorted/Sorted/Screenshot_20190704-173506_Instagram.jpg
/Unsorted/Sorted/Screenshot_20190704-173557_Instagram.jpg
/Unsorted/Sorted/Screenshot_20190920-153319_Instagram.jpg
/Unsorted/Sorted/Screenshot_20191014-223634_Instagram.jpg
/Unsorted/Sorted/Screenshot_20191106-194207_Instagram.jpg
/Unsorted/Sorted/Screenshot_20191107-001829_Instagram.jpg
/Unsorted/Sorted/Screenshot_20191110-024701_Instagram.jpg
/Unsorted/Sorted/Screenshot_20191110-024713_Instagram.jpg
/Unsorted/Sorted/Screenshot_20191110-151239_Instagram.jpg
/Unsorted/Sorted/Screenshot_20191110-162859_Instagram.jpg
/Unsorted/Sorted/Screenshot_20191214-111739_Instagram.jpg
/Unsorted/Sorted/Screenshot_20191214-152154_Instagram.jpg
/Unsorted/Sorted/Screenshot_20200113-023329_Instagram.jpg
/Unsorted/Sorted/Screenshot_20200120-203123_Instagram.jpg
/Unsorted/Sorted/Screenshot_20200208-225444_Instagram.jpg
/Unsorted/Sorted/Screenshot_20200503-145853_Instagram.jpg
/Unsorted/Sorted/Screenshot_20200627-172834_Instagram.jpg
/Unsorted/Sorted/Screenshot_20200627-172845_Instagram.jpg
/Unsorted/Sorted/Screenshot_20200704-150453_Instagram.jpg
/Unsorted/Sorted/Screenshot_20200808-193758_Instagram.jpg
/Unsorted/Sorted/Screenshot_20200808-193804_Instagram.jpg
/Unsorted/Sorted/Screenshot_20200813-212941_Instagram.jpg
/Unsorted/Sorted/tumblr_50fa355fd7f9f11004ff7e936adbad73_534cacf1_1280.jpg
/Unsorted/Sorted/tumblr_9324d1f7c9650dc46915487bc316817a_0e1ce24c_1280.jpg
/Unsorted/Sorted/tumblr_3644639da7e657a8d688d494006374a7_4fff93d0_1280.jpg
/Unsorted/0L6A7341.jpg
/Unsorted/1E272790-32A5-4873-9504-7A0384B7FFB3.png
/Unsorted/0076C76B-18BF-4586-B354-DF629B9FBC45.jpeg
/Unsorted/20210801_002841.jpg
/Unsorted/20221231_174411.jpg
/Unsorted/20230121_005436.jpg
/Unsorted/20230121_005439.jpg
/Unsorted/20230121_005441.jpg
/Unsorted/20230121_005527.mp4
/Unsorted/20230121_023140.jpg
/Unsorted/B8207EEC-3899-4477-9391-A300EA9DCF8F.jpeg
/Unsorted/CJ4I2691.jpg
/Unsorted/doubletrouble.jpg
/Unsorted/Fl-fb_2YMxNfBqYziLqvxv3WenJJmk0WayDuS-0aB5M-1.jpg
/Unsorted/GABY-21.jpg
/Unsorted/GABY_NOV-10.jpg
/Unsorted/GabyPaul35mmScans004.jpg
/Unsorted/GabyPaul35mmScans005.jpg
/Unsorted/GabyPaul35mmScans007.jpg
/Unsorted/GabyPaul35mmScans008.jpg
/Unsorted/GabyPaul35mmScans013.jpg
/Unsorted/GabyPaul35mmScans025.jpg
/Unsorted/GabyPaul35mmScans039.jpg
/Unsorted/GabyPaul35mmScans042.jpg
/Unsorted/GabyPaul35mmScans071.jpg
/Unsorted/grid_0.png
/Unsorted/IMG_1083.JPG
/Unsorted/Screenshot_20190621-221911_Snapchat.jpg
/Unsorted/Screenshot_20190703-164716_Instagram.jpg
/Unsorted/Screenshot_20190710-114430_Instagram.jpg
/Unsorted/Screenshot_20191014-175341_Instagram.jpg
/Unsorted/Screenshot_20191106-194225_Instagram.jpg
/Unsorted/Screenshot_20191117-223858_Instagram.jpg
/Unsorted/Screenshot_20200302-163901_Instagram.jpg
/Unsorted/Screenshot_20200305-170346_Instagram.jpg
/Unsorted/Screenshot_20200305-170400_Instagram.jpg
/Unsorted/Screenshot_20200305-170435_Instagram.jpg
/Unsorted/Screenshot_20200309-133334_Instagram.jpg
/Unsorted/Screenshot_20200317-144103_Instagram.jpg
/Unsorted/Screenshot_20200418-182919_Instagram.jpg
/Unsorted/Screenshot_20200503-145907_Instagram.jpg
/Unsorted/Screenshot_20200624-125053_Instagram.jpg
/Unsorted/Screenshot_20200814-062313_Instagram.jpg
/Unsorted/Screenshot_20220922-204941_Instagram.jpg
/Unsorted/tumblr_49ebcf0b127952608c7b51ec7058ac47_e9bdd52f_1280.jpg
/Unsorted/tumblr_62d0311135ee7e2c3c2490307055ee01_5d8a3112_1280.jpg
/openCVBuild
