[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libtiff = "*"
numpy = "1.23.5"
filetype = "*"
strenum = "*"
python-dotenv = {extras = ["cli"] }
deepface = "*"
pywin32 = "*"
mediapipe = "*"
django = "*"
pillow = "10.3.0"
PyYAML = "6.0.1"
tqdm = "4.66.2"
colorlog = "6.8.2"
python-json-logger="2.0.7"

[dev-packages]
tomlkit = "*"
setuptools = "*"
radon = "*"

[requires]
python_version = "3.10"
