filetype==1.2.0
deepface==0.0.91
pillow==10.3.0
mongoengine==0.28.2
python-dotenv==1.0.1
setuptools==69.2.0
pymongo==4.6.3
PyYAML==6.0.1
tqdm==4.66.2
opencv-cuda @ ./Dependencies/opencv_python-4.9.0.80-cp310-cp310-linux_x86_64.whl
opencv-contrib-cuda-python @ ./Dependencies/opencv_contrib_python-4.9.0.80-cp310-cp310-linux_x86_64.whl
matplotlib==3.9.0rc2
pandas==2.2.2
Flask==3.0.3
requests==2.31.0
gdown==5.1.0
mtcnn==0.1.1
numpy==1.23.5
tensorflow[and-cuda]==2.16.0
tf-keras==2.16.0